<main>
    <h2>Reportes/Dia</h2>
        <div class="row text-center">
            <div class="col-3">
                <div class="m-1 border">
                    <br>
                    <span id="cantVentas"></span><br>
                    <span>ventas</span>
                </div>
            </div>
            <div class="col-3">
                <div class="m-1 border">
                    <br>
                    <span id="cantPedidos"></span><br>
                    <span>pedidos</span>
                </div>
            </div>
            <div class="col-3">
                <div class="m-1 border">
                    <br>
                    <span id="cantPlatos"></span><br>
                    <span>platos</span>
                </div>
            </div>
            <div class="col-3">
                <div class="m-1 p-2 border">
                    <label for="fecha">Filtros:</label>
                    <center>
                        <input type="date" name="fecha" id="fecha" class="form-control" style="width: 200px; height: 33px;">
                    </center>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-9">
                    <div class="m-1 col">
                        <canvas id="graficaUsu"></canvas>
                    </div>
                
                <div class="col">
                    <canvas id="graficaPedMes"></canvas>
                </div>
            </div>
                <div class="col-3">
                    <div class=" text-sm-start">
                        <div class="border m-1">
                        <P class="m-3">Categorias mas pedidas:</P>
                        <div class="row m-2" id="rank_cat">
                        
                        </div>
                        </div>
                        <canvas id="grafica_cat"></canvas>
                    </div>
                </div>
        </div>
            
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const colors = ['rgb(69,177,223)', 'rgb(99,201,122)', 'rgb(203,82,82)', 'rgb(229,224,88)', 'rgb(125,100,111)'];
        getStatsUsu();
        ranking_cat();
        function getStatsUsu(){
            
            var slcchange = document.getElementById("fecha");
            slcchange.addEventListener("change", function() {
                let fecha_=document.getElementById('fecha').value;
                fetch(`api/stats/pedDia/${fecha_}`)
                .then(resp=>resp.json())
                .then(datos=>{
                    statsUsu_=datos;
                    renderResult(statsUsu_);
                })
                const renderResult=(statsUsu_)=>{
                    
                    let micanvas=document.getElementById('graficaUsu').getContext('2d');
                    if(window.chart!=null){
                        window.chart.destroy();
                    }
                    let usuPedMes=[];
                    let usuPedMescant=[];
                    var sumPedUsu=0;
                    var countPed_=0;
                    let platos=0;
                    for(let item of statsUsu_){
                        usuPedMes.push(item.nom_usu);
                        usuPedMescant.push(item.countPed);
                        sumPedUsu=sumPedUsu+item.sumPres;
                        countPed_=countPed_+item.countPed;
                        platos=platos+parseInt(item.cantidad);
                    }
                    document.getElementById('cantVentas').innerHTML=sumPedUsu;
                    document.getElementById('cantPedidos').innerHTML=countPed_;
                    document.getElementById('cantPlatos').innerHTML=platos;
                    window.chart=new Chart(micanvas,{
                        type:"bar",
                        data:{
                            labels:usuPedMes,
                            datasets:[
                    {
                        label:"Grafica Pedidos del Dia",
                        backgroundColor:colors,
                        borderColor:"rgb(0,255,0)",
                        data:usuPedMescant
                    }
                ]
                        }
                    })
                    
                    
                }
            });

        }

        function ranking_cat(){
            var slcchange = document.getElementById("fecha");
            slcchange.addEventListener("change", function() {
                let fecha_=document.getElementById('fecha').value;
            fetch(`api/stats/catDia/${fecha_}`)
                .then(resp=>resp.json())
                .then(datos=>{
                    statsUsu_=datos;
                    renderResult(statsUsu_);
                })
                const renderResult=(statsUsu_)=>{
                    let listCat="";
                    let nomCat=[];
                    let canCat=[];
                    for (let item of statsUsu_){
                        nomCat.push(item.nom_categoria);
                        canCat.push(item.sumPres);
                        listCat+=`<div class="col-6">${item.nom_categoria}</div>
                            <div class="col-6">${item.sumPres}</div>`;
                    }
                    document.getElementById('rank_cat').innerHTML=listCat;
                
                let micanvas3=document.getElementById('grafica_cat').getContext('2d');
                    if(window.chart3!=null){
                        window.chart3.destroy();
                    }
                    window.chart3=new Chart(micanvas3,{
                        type:"doughnut",
                        data:{
                            labels:nomCat,
                            datasets:[
                    {
                        backgroundColor:colors,
                        borderColor:"rgb(0,255,0)",
                        data:canCat
                    }
                ]
                        }
                    })
                }
            });
        }
    </script>