<link rel="stylesheet" href="/public/css/reporte.css">
<main>
    <div class="container-fluid p-0" style="background-color: white;">
        <div class="row shadow-lg p-3 mb-5">
            <nav aria-label="breadcrumb" class="link_nav">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="/reporte">Reporte</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Día</li>
                </ol>
            </nav>

            <h2 class="mb-2 title_registro "><i class="fa-solid fa-file me-2"></i>Reporte del Día</h2>
            
            <div class="box-reporte">
                
                <div class="row">
                    <div class="col-lg-9 row">
                        <div class="row box-etiqueta">

                            <div class="col-md-3">
                                <div class=" border">
                                    <span class="nro_span" id="cantVentas">0</span><br>
                                    <span class="eti">Ventas</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class=" border">
                                    <span class="nro_span" id="cantPedidos">0</span><br>
                                    <span class="eti">Pedidos</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class=" border">
                                    <span class="nro_span" id="cantPlatos">0</span><br>
                                    <span class="eti">Platos</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="border btn-filtro">
                                    <label for="fecha">Filtros:</label>
                                    <center>
                                        <input type="date" name="fecha" id="fecha" class="" style="width: 100%;">
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 row">
                                <div class="col-md-12 ">
                                    <canvas id="graficaUsu"></canvas>
                                </div>
                            
                                <div class="col-md-12">
                                    <canvas id="graficaPedDia"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 box-categoria">
                        <div class="border m-1">
                            <P>Categorias mas pedidas:</P>
                            <div class="row m-2" id="rank_cat">
                            
                            </div>
                        </div>
                        <canvas id="grafica_cat"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>

        
            
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const colors = ['rgb(69,177,223)', 'rgb(99,201,122)', 'rgb(203,82,82)', 'rgb(229,224,88)', 'rgb(125,100,111)'];
        getStatsUsu();
        ranking_cat();
        rankign_pedMes();
        function getStatsUsu(){
            
            var slcchange = document.getElementById("fecha");
            slcchange.addEventListener("change", function() {
                let fecha_=document.getElementById('fecha').value;
                fetch(`api/stats/pedDia/${fecha_}`)
                .then(resp=>resp.json())
                .then(datos=>{
                    statsUsu_=datos;
                    renderResult(statsUsu_);
                })
                const renderResult=(statsUsu_)=>{
                    
                    let micanvas=document.getElementById('graficaUsu').getContext('2d');
                    if(window.chart!=null){
                        window.chart.destroy();
                    }
                    let usuPedMes=[];
                    let usuPedMescant=[];
                    var sumPedUsu=0;
                    var countPed_=0;
                    let platos=0;
                    for(let item of statsUsu_){
                        usuPedMes.push(item.nom_usu);
                        usuPedMescant.push(item.countPed);
                        sumPedUsu=sumPedUsu+item.sumPres;
                        countPed_=countPed_+item.countPed;
                        platos=platos+parseInt(item.cantidad);
                    }
                    document.getElementById('cantVentas').innerHTML=sumPedUsu;
                    document.getElementById('cantPedidos').innerHTML=countPed_;
                    document.getElementById('cantPlatos').innerHTML=platos;
                    window.chart=new Chart(micanvas,{
                        type:"bar",
                        data:{
                            labels:usuPedMes,
                            datasets:[
                    {
                        label:"Grafica Pedidos del Dia",
                        backgroundColor:colors,
                        borderColor:"rgb(0,255,0)",
                        data:usuPedMescant
                    }
                ]
                        }
                    })
                    
                    
                }
            });

        }

        function ranking_cat(){
            var slcchange = document.getElementById("fecha");
            slcchange.addEventListener("change", function() {
                let fecha_=document.getElementById('fecha').value;
            fetch(`api/stats/catDia/${fecha_}`)
                .then(resp=>resp.json())
                .then(datos=>{
                    statsUsu_=datos;
                    renderResult(statsUsu_);
                })
                const renderResult=(statsUsu_)=>{
                    let listCat="";
                    let nomCat=[];
                    let canCat=[];
                    for (let item of statsUsu_){
                        nomCat.push(item.nom_categoria);
                        canCat.push(item.sumPres);
                        listCat+=`<div class="col-6">${item.nom_categoria}</div>
                            <div class="col-6">${item.sumPres}</div>`;
                    }
                    document.getElementById('rank_cat').innerHTML=listCat;
                
                let micanvas3=document.getElementById('grafica_cat').getContext('2d');
                    if(window.chart3!=null){
                        window.chart3.destroy();
                    }
                    window.chart3=new Chart(micanvas3,{
                        type:"doughnut",
                        data:{
                            labels:nomCat,
                            datasets:[
                    {
                        backgroundColor:colors,
                        borderColor:"rgb(0,255,0)",
                        data:canCat
                    }
                ]
                        }
                    })
                }
            });
        }

        function rankign_pedMes(){
            
            var slcchange = document.getElementById("fecha");
            slcchange.addEventListener("change", function() {
                let fecha_=document.getElementById('fecha').value;
                fetch(`api/stats/pedBiDia/${fecha_}`)
                .then(resp=>resp.json())
                .then(datos=>{
                    statsUsu_=datos;
                    renderResult(statsUsu_);
                })
                const renderResult=(statsUsu_)=>{
                    
                    let micanvas2=document.getElementById('graficaPedDia').getContext('2d');
                    if(window.chart2!=null){
                        window.chart2.destroy();
                    }
                    let pedMes=[];
                    let fechPed=[];
                    for(let item of statsUsu_){
                        pedMes.push(item.cantPed);
                        fechPed.push(item.dia+"-"+item.mes+"-"+item.anio);
                    }
                    window.chart2=new Chart(micanvas2,{
                        type:"bar",
                        data:{
                            labels:fechPed,
                            datasets:[
                    {
                        label:"Grafica de Pedidos en los ultimos cinco Dias",
                        backgroundColor:colors,
                        borderColor:"rgb(255,255,0)",
                        data:pedMes
                    }
                ]
                        }
                    })
                    
                    
                }
            });
        }
    </script>