<div class="container-fluid">
  <div class="body__title">
    <h2>Categorías</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>First</th>
          <th>Last</th>
          <th>Handle</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
