<link rel="stylesheet" href="/public/css/admin-validation.css">
<div class="container">
  <div class="body__title mb-2">
    <h2 class="text-center">Categorías</h2>
  </div>
  <div class="table-responsive shadow p-3 mb-5 bg-body rounded mt-3">
    <table
      class="table table-light table-striped table-bordered mb-3 pt-2"
      style="max-width: 100%"
      id="tableCategory"
    >
      <thead>
        <div class="row">
          <div class="col-3">
            <button id="btnAdd" class="btn btn-primary mt-2">
              &nbsp;+ Nuevo Registro
            </button>
          </div>
        </div>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Categoria</th>
          <th class="text-center">Operaciones</th>
        </tr>
      </thead>
      <tbody class="text-center" id="dataCategory"></tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalCategory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="formCategory">
        <div class="modal-body">
          <div class="form_control">
            <label for="nom_categoria" class="col-form-label">Categoria:</label>
            <input
              type="text"
              class="form-control"
              id="nom_categoria"
              name="nom_categoria"
            />
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" id="btnSave" class="btn btn-dark">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/public/js/configTable.js"></script>
<script src="/public/js/categorias/validateForm.js"></script>
<script src="/public/js/show-errors.js"></script>
<script src="/public/js/categorias/category.js"></script>
