<link rel="stylesheet" href="/public/css/admin-validation.css">
<div class="container" style="background-color: white;">
  
  <div class="row shadow-lg p-3 mb-5 rounded">
    <nav aria-label="breadcrumb" class="link_nav">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mesas</li>
      </ol>
    </nav>
      <h2 class="mb-2 title_registro "><i class="fa-solid fa-box"></i> Mesas</h2>
      
        <div class="row">
          <div class="col">
            <button id="btnAdd" class="btn-add mt-2">
              <i class="fa-solid fa-plus"></i> Nuevo Registro
            </button>
          </div>
        </div>

        <div class="table-responsive">
    <table
      class="table table-bordered mb-3 pt-2"
      id="tableMesas"
      style="max-width:100%;"
    >
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Número</th>
          <th class="text-center">Piso</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Operaciones</th>
        </tr>
      </thead>
      <tbody class="text-center" id="dataTable"></tbody>
    </table>
  </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalTable"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="formTable">
        <div class="modal-body">
          <div class="form_control">
            <label for="numero_mesa" class="col-form-label">Número:</label>
            <input
              type="text"
              class="form-control"
              id="numero_mesa"
              name="numero_mesa"
            />
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
          </div>
          <div class="form_control">
            <label for="id_piso" class="col-form-label">Piso</label>
            <select
              name="id_piso"
              id="selectPisos"
              class="form-select"
            ></select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" id="btnSave" class="btn btn-dark">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/public/js/configTable.js"></script>
<script src="/public/js/mesas/validateForm.js"></script>
<script src="/public/js/show-errors.js"></script>
<script src="/public/js/mesas/table.js"></script>
