<div class="container">
  <div class="body__title mb-2">
    <h2>Mesas</h2>
  </div>
  <button id="btnAdd" class="btn btn-primary mt-2">
    &nbsp;+ Nuevo Registro
  </button>
  <div class="table-responsive mt-3">
    <table class="table table-striped pt-2" id="tableMesas" style="width: 100%">
      <thead class="table-dark">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Número</th>
          <th class="text-center">Piso</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Eliminar</th>
        </tr>
      </thead>
      <tbody class="text-center"></tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalTable"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="formTable">
        <div class="modal-body">
          <label for="numero_mesa" class="col-form-label">Número:</label>
          <input
            type="text"
            class="form-control"
            id="numero_mesa"
            name="numero_mesa"
          />
          <label for="id_piso" class="col-form-label">Piso</label>
          <select name="id_piso" id="id_piso" class="form-select">
            <option value="1">Piso 1</option>
            <option value="2">Piso 2</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" id="btnSave" class="btn btn-dark">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/public/js/mesas/listTable.js"></script>
<script src="/public/js/mesas/newTable.js"></script>
<script src="/public/js/mesas/editTable.js"></script>
<script src="/public/js/mesas/deleteTable.js"></script>
