

<div class="p-3 pb-5 pl-5 shadow">
  <h2 class="mb-3 p-3 ps-0">Agregar Producto</h2> 
<div class="row">
<form id="formProducto" class="col-lg-7" enctype="multipart/form-data">
    <div class="form row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Nombre Producto</label>
        <input type="text" class="form-control" id="nombre">
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword4">Descripción</label>
        <input type="text" class="form-control" id="descripcion">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Precio</label>
      <input type="text" class="form-control" id="precio" placeholder="S/.">
    </div>
      <div class="form-group col-md-12">
        <label for="inputState">Categoria</label>
        <select id="categoria" class="form-control">
          <option selected value="1">Entrada</option>
          <option value="2">Bebida sin Alcoholica</option>
        </select>
      </div>
      <div class=" form-group custom-file col-md-12">
        <label class="custom-file-label" for="imagen">Archivo</label>
        <input type="file" class="form-control" id="imagen">
      </div>
    <button type="submit" class="btn btn-success mt-3" id="btn-submit">Registrar</button>
    <a class="btn btn-dark mt-3" href="../productos">Regresar</a>
</form>
</div>
</div>
<script>
    
    //MOSTRAR
    //submit para el CREAR
    
    const btnSubmit = document.getElementById("btn-submit");
    btnSubmit.addEventListener("click",async(e)=>{

      // const product={
      //         name:document.getElementById('nombre').value,
      //         idCat:document.getElementById('categoria').value,
      //         descripcion:document.getElementById('descripcion').value,
      //         precioU:document.getElementById('precio').value,
      //         archivo:document.getElementById('imagen').files[0],
      //       }
      let product = new FormData();
      product.append('nomProd', (document.getElementById('nombre')).value);
      product.append('idCat', (document.getElementById('categoria')).value);
      product.append('descripcionProd', (document.getElementById('descripcion')).value);
      product.append('precio_uProd', (document.getElementById('precio')).value);
      product.append('imagenProd', (document.getElementById('imagen')).files[0]);

      e.preventDefault();
      try{
        const response = await fetch('api/producto',{  
            method: 'POST', 
            mode: "cors",
            // body: JSON.stringify(product),
            body: product,
            // headers:{
            //     'Content-Type':'application/json',
            // }
            // headers:{
            //   'Content-Type': 'multipart/form-data',
            // }
        });
        if (response.ok) {
          Swal.fire({
            title: "Producto creado",
            icon: "success",
            showConfirmButton: false,
            timer: 800,
          }).then(() => {
            //window.location.reload();
          });
        } else {
          const res = await response.json();
          Swal.fire({
            title: "Error",
            text: "Campos Incorrectos",
            icon: "error",
            showConfirmButton: false,
            timer: 1000,
          })};  
      }catch(error){

      }
    });
</script>