<div class="container-fluid shadow-lg" style="background-color: white;">
  <div class="row p-3 pb-5" >
    <nav aria-label="breadcrumb" class="link_nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/productos">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
      </nav>

      <h2 class="mb-2 title_registro "><i class="fa-solid fa-folder-plus"></i> Agregar Producto</h2>

  <div class="row d-flex justify-content-center style_form">
  <form id="formProducto" class="col-lg-7" enctype="multipart/form-data">
      <div class="form row">
          <label for="inputEmail4" class="form-label">Nombre Producto</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required pattern="[a-zA-Z ]{2,254}">
          <label for="inputPassword4" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion"required pattern="[a-zA-Z ]{2,254}">
          <label for="inputAddress" class="form-label">Precio</label>
          <input type="text" class="form-control" id="precio" name="precio"placeholder="S/." required>
          <label for="inputState" class="form-label">Categoria</label>
          <select id="categoria" class="form-control" required>
          </select>
          <label class="custom-file-label" for="imagen" class="form-label">Archivo</label>
          <input type="file" class="form-control" id="imagen" name="archivo" required>
      </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success mt-3 me-1" id="btn-submit"><i class="fa-regular fa-floppy-disk"></i> Registrar</button>
          <a class="btn btn-dark mt-3" href="../productos"><i class="fa-solid fa-circle-chevron-left"></i> Regresar</a>
    
        </div>
      </form>
  </div>
  </div>
</div>
<script>
    
    //MOSTRAR
    //submit para el CREAR
    const btnSubmit = document.getElementById("btn-submit");
    const formulario = document.getElementById("formProducto");
    const inputs = document.querySelectorAll("#formProducto input");

    const expresiones ={
        texto: /^[A-Za-zÀ-ÿ\u00f1\u00d1 ]+$/,
        decimal:/^([0-9]+\.?[0-9]{0,2})$/,
    };
    const validar=(e)=>{
        switch(e.target.name){
          case "nombre":
              if(expresiones.texto.test(e.target.value)){
                  document.getElementById("nombre").classList.remove("input-error");
              }else{
                  document.getElementById("nombre").classList.add("input-error");
              };
          break;
          case "descripcion":
              if(expresiones.texto.test(e.target.value)){
                  document.getElementById("descripcion").classList.remove("input-error");
              }else{
                  document.getElementById("descripcion").classList.add("input-error");
              };
          break;
          case "precio":
              if(expresiones.decimal.test(e.target.value)){
                  document.getElementById("precio").classList.remove("input-error");
              }else{
                  document.getElementById("precio").classList.add("input-error");
              };
          break;
        }
    };

    inputs.forEach((input) =>{
        input.addEventListener('keyup',validar);
        input.addEventListener('blur',validar);
    });
    btnSubmit.addEventListener("click",async(e)=>{
      e.preventDefault();
      const inputimage = document.getElementById("imagen").files[0];
      const inputprecio= document.getElementById("precio");
      const inputnom= document.getElementById("nombre");
      const inputdesc= document.getElementById("descripcion");
      const vp=expresiones.decimal.test(inputprecio.value);
      const ip=expresiones.texto.test(inputnom.value);
      const id=expresiones.texto.test(inputdesc.value)
      console.log(vp);
      if(JSON.stringify(inputimage) === '{}' && vp && ip && id){

      
      const product = new FormData();
      product.append('nomProd', (document.getElementById('nombre')).value);
      product.append('idCat', (document.getElementById('categoria')).value);
      product.append('descripcionProd', (document.getElementById('descripcion')).value);
      product.append('precio_uProd', (document.getElementById('precio')).value);
      product.append('imagenProd', (document.getElementById('imagen')).files[0]);
      
      let data = {};
      //product.forEach((value, key) => data[key] = value);
      console.log(data);
      
      try{
        const response = await fetch('/api/producto',{  
            method: 'POST', 
            mode: "cors",
            /* headers:{
                'Content-Type':'application/json',
            }, */
            body: product,
            // headers:{
            //   'Content-Type': 'multipart/form-data',
            // }
        });
        if (response.ok) {
          Swal.fire({
            title: "Producto creado",
            icon: "success",
            showConfirmButton: false,
            timer: 800,
          }).then(() => {
            //window.location.reload();
          });
        } else {
          const res = await response.json();
          Swal.fire({
            title: "Error",
            text: "Campos Incorrectos",
            icon: "error",
            showConfirmButton: false,
            timer: 1000,
          })};  
      }catch(error){

      };

      }else{
        Swal.fire({
          title: "Campos Incorrectos",
          icon: "warning",
          showConfirmButton: false,
          timer: 1000,
        });      
      };
    });
    window.onload =getUsuarios;
    const tablaList=document.querySelector('#categoria'); 
    function getUsuarios(){
              fetch('/api/category')
      .then( response => response.json() )
      .then( data =>{
          cat=data;
          console.log(data);
          renderResult(cat);
          
      })
      const renderResult=(cat)=>{
        let listHTML="";
                    
        cat.forEach(cat => {
            
            listHTML+=`<option selected value="${cat.id_categoria}">${cat.nom_categoria}</option>`;
        });
        tablaList.innerHTML=listHTML;
      }
    }

</script>