<div class="container-fluid">
    <div class="row shadow-lg p-3 mb-5">
        
    <h2 class="mb-2">Registros / producto</h2>
    
    <a class="btn btn-dark mt-2 mb-2 col-2 ms-3 text-start" href="../NuevoProducto">
        <i class="fa-solid fa-plus me-2"></i>Agregar</a>
        <div class="col-12">
            <table id="tablaProducto" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>  
                    <th>Descripcion</th> 
                    <th>Precio (S/.)</th> 
                    <th>Categoria</th>                 
                    <th class="text-center">Operaciones</th>                      
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table> 
        </div>
    </div>
</div>

<!--Modal para CRUD-->
<div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="formArticulos">    
                <div class="modal-body">                
                        <input id="id" hidden>
                        <label for="" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre">  
                        <label for="" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control" id="descripcion"> 
                        <label for="" class="col-form-label">Precio:</label>
                        <input type="text" class="form-control" id="precio">                               
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
        let url = 'http://localhost:3000/api/producto/';
        let opcion = null;
        //MOSTRAR
        let tablaProducto = $('#tablaProducto').DataTable({            
            ajax:{
                "url": url,
                "dataSrc":""
            },
            "columns":[
                {"data":"id_prod"},
                {"data":"imagen_prod",
                "sortable":false,
                "searchable":false,
                    "render": function(imagen_prod){
                        //return '<img src="' + imagen_prod + '" style="height:50px;width:50px;" />';
                        return `<img src="/public/img/productos/${imagen_prod}" style="height:40px;width:55px;"/>`;
                    }},
                {"data":"nom_prod"},
                {"data":"descripcion_prod"},
                {"data":"precio_u_prod"},
                {"data":"nom_categoria"},
                {"defaultContent": "<div class='text-center'><div class='btn-group'><button class='btn btn-warning btnEditar me-2'><i class='fa-solid fa-pen-to-square'></i></button> <button class='btn btn-danger btnBorrar'><i class='fa-solid fa-trash'></i></button></div></div>"}
            ],
            responsive: true,
            "columnDefs":[{
                "targets":[4],
                render(v){
                    return Number(v).toFixed(2)
                }
            }]              
        });
        //EDITAR        
        $(document).on("click", ".btnEditar", function(){		            
            opcion='editar';
            fila = $(this).closest("tr");	        
            id = parseInt(fila.find('td:eq(0)').text());
            url_img = fila.find('td:eq(1)').text(); 
            name = fila.find('td:eq(2)').text();
            descripcion = fila.find('td:eq(3)').text();
            precio = fila.find('td:eq(4)').text();          
            $("#id").val(id);
            $("#nombre").val(name);
            $("#descripcion").val(descripcion); 
            $("#precio").val(precio);             
            $(".modal-title").text("Editar Artículo");		
            $('#exampleModal').modal('show');		   
        });
        //BORRAR
        $(document).on("click", ".btnBorrar", function(){
            fila = $(this);           
            id = parseInt($(this).closest('tr').find('td:eq(0)').text());            
            Swal.fire({
                title: '¿Confirma eliminar el registro?',                
                showCancelButton: true,
                confirmButtonText: `Confirmar`,                
                }).then((result) => {               
                if (result.isConfirmed) {
                    $.ajax({
                        url: url+id,
                        method: 'delete',                        
                        data:  {id:id},    
                        success: function() {
                            tablaProducto.row(fila.parents('tr')).remove().draw();                  
                        }
                    });
                    Swal.fire('¡Registro Eliminado!', '', 'success')
                } 
                })
        });
    })
</script>