
<div class="container-fluid shadow-lg needs-validation" novalidate style="background-color: white;">
    <div class="row p-3 pb-5" >
      <nav aria-label="breadcrumb" class="link_nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/Users">Usuario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
          </ol>
        </nav>
  
        <h2 class="mb-2 title_registro "><i class="fa-solid fa-folder-plus"></i> Registrar Usuario</h2>
  
    <div class="row d-flex justify-content-start style_form">
        <div id="form" class="col-9 row" style="margin:0px auto">
            
            <div class="mb-0 col-lg-4">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <label class="form-label">N° Documento de identidad</label>
                    </div>
                </div>
                <div class="col">
                    <div class="col-12 col-lg-12">
                        <input id="nro_ddi" name="nro_ddi" type="text" class="form-control" required>
                        <div class="valid-feedback">
                            todo bien
                        </div>
                        <div class="invalid-feedback">
                            todo mal
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-0 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <label class="form-label">Nombres</label>
                    </div>
                </div>
                <div class="col">
                    <input  id="nombre"name="nombre" type="text" class="form-control" required>
                </div>
            </div>

            <div class="mb-0">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Apellido paterno</label>
                    </div>
            
                    <div class="col">
                        <label class="form-label">Apellido materno</label>
                    </div>
                </div>
            </div>
            
            <div class="mb-0">
                <div class="row">
                    <div class="col">
                        <input id="apellido1" name="apellido1" type="text" class="form-control" required>
                    </div>
        
                    <div class="col">
                        <input id="apellido2" name="apellido2" type="text" class="form-control"  required>
                    </div>
                </div>
            </div>
        
            <div class="mb-0">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Direccion</label>
                    </div>
                </div>
            </div>
        
            <div class="mb-0">
                <div class="row">
        
                    <div class="col-12 col-lg-12">
                        <div >
                            <div class="col-12"><input id="dir" name="dir" class="form-control mr-sm-2"style="border-radius: 3px 0 0 3px;" type="text" ></div>
                        </div>
                    </div>
                </div>      
            </div>
            
            <div class="col" id="grupo__exampleInputEmail1">
                <div class="mb-0" style="width:100%">
                    <div class="col-12 col-lg-12">
                        <label class="form-label">Dirección de correo electrónico</label>
                    </div>
                    <div class="col-12 col-lg-12">
                        <input  id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" required>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-lg-12">
                        <label class="form-label">Contraseña</label>
                    </div>
                    <div class="col-12 col-lg-12">
                        <input ID="txtPassword" type="Password" Class="form-control" required>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-lg-12">
                        <label class="form-label">Rol</label>
                    </div>
                    <div class="col-4">
                       <select name="selectRol" id="selectRol" class="form-select" aria-label="Default select example" required>
                        <option value="4">Cocinero</option>
                        <option value="1">Administrador</option>
                        <option value="2">Cajero</option>
                        <option value="3">Mesero</option>
                       </select>
                    </div>
                    <br>
                </div>
                <div class="col-12 col-lg-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-success mx-2" onclick="registerUser()"><i class="fa-regular fa-floppy-disk"></i> Registrar</button>
                        <a href="/Users" class="btn btn-dark btn-primary"><i class="fa-solid fa-circle-chevron-left"></i> Regresar</a>
                   
                </div>
            </div>
        </div>
        
    </div>
    </div>
  </div>

<script>
    const registerUser=()=>{
            const register_={
                nroDdi: document.querySelector('#nro_ddi').value,
                name: document.querySelector('#nombre').value,
                apellido1: document.querySelector('#apellido1').value,
                apellido2: document.querySelector('#apellido2').value,
                dir: document.querySelector('#dir').value,
                email: document.querySelector('#email').value,
                pass: document.querySelector('#txtPassword').value,
                idRol: document.querySelector('#selectRol').value,
                
               
            }
            document.querySelector('#form').innerHTML='';
            fetch('/api/auth/register',{
                method: 'POST',
                mode: "cors",
                body:JSON.stringify(register_),
                headers:{
                    'Content-Type': 'application/json'
                }
            })   
    }
</script>