<link rel="stylesheet" href="/public/css/reporte.css">
<main>
    <div class="container-fluid p-0" style="background-color: white!important;">
        <div class="row shadow p-3 mb-5" >
            <nav aria-label="breadcrumb" class="link_nav">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Reporte</li>
                </ol>
            </nav>

            <h2 class="mb-2 title_registro "><i class="fa-solid fa-file me-2"></i>Reportes</h2>
            <div class="box-general">
                
                <a href="/reporte-mes"><i class="fa-regular fa-calendar-days"></i>Reporte mes</a>
                <a href="/reporte-dia"><i class="fa-solid fa-calendar-day"></i>Reporte dia</a>
            </div>
        </div>
    </div>

</main>