<header class="header body-pd" id="header">
    <div class="header__toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <div class="header__notify">
      <a href="#" class="nav-link">
        <i class="bx bxs-bell icon"></i>
        <span class="badge">5</span>
      </a>
    </div>
    <div class="header__profile">
      <div class="header__name">
        <p id="name_profile"><%= nom_usu%></p>
      </div>
      <div class="header__img">
        <img src="/public/img/perfil2.png" />
      </div>
    </div>
  </header>