<style type="text/css">
    *{
        --first-color: #181E24;
        --first-color-select: #242E3E;
        --first-color-text: #FFF;
        --second-color: #FF5024;
        --second-color-select: #EE4004;
        --second-color-text: #FFF;
        --gray-color: #303030;
        --white-color: #F6F6F6;
    }
</style>

<!--===== MAIN CONTENT =====-->
<div class="l-navbar show-nav" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav__logo">
                <i class='fa-solid fa-cash-register nav__logo-icon'></i>
                <span class="nav__logo-name">CAJERO</span>
            </a>
            <div class="nav__list">
                <a href="/home" class="nav__link active">
                    <i class='fa-solid fa-house nav__icon'></i>
                    <span class="nav__name">Inicio</span>
                </a>
                <a href="/reportes" class="nav__link">
                    <i class='fa-solid fa-box-archive nav__icon'></i>
                    <span class="nav__name">Historial</span>
                </a>
                <a href="#" class="nav__link">
                    <i class='fa-solid fa-gears nav__icon'></i>
                    <span class="nav__name">Configuración</span>
                </a>
            </div>
        </div>
        <a href="/logOut" class="nav__link nav__out">
            <i class='fa-solid fa-arrow-right-from-bracket nav__icon' ></i>
            <span class="nav__name">Salir</span>
        </a>
    </nav>
</div>