<link rel="stylesheet" href="/public/css/change-password.css">

<main>
    <div class="contenedor">
        <div class="d-flex justify-content-center formulario">
            <form id="form" action="" method="post">
                <div class="d-flex justify-content-center mb-3">
                    <p class="text-center fw-bold fs-5">Cambio de contrase単a</p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Contrase単a anterior</label>
                    <input name="old_password" type="password" class="form-control" pattern="[A-Za-z0-9_-]{6,15}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Nueva contrase単a</label>
                    <input name="new_password" type="password" class="form-control" pattern="[A-Za-z0-9_-]{6,15}" required>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="btn_change-password" class="boton px-3" type="submit"><i class="fa-solid fa-gears"></i> Cambiar contrase単a</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="/public/js/change-password.js"></script>