
<main>
    <h2>Recuperar contraseña</h2>
    <input type="text" id="email">
    <input type="button" class="btn btn-secondary"  onclick="funcion__()">
</main>
<script>
    function funcion__(){
        const register_={
        email:document.getElementById('email').value,
     }
    fetch('/api/user/forgot-psw',{
                method: 'POST',
                body:JSON.stringify(register_),
                headers:{
                    'Content-Type': 'application/json'
                }
            })
            .then(res=>res.json())
              .catch(error=>{
              })
              .then(response=>{
                alert("se envio un el mensaje a su correo");
              });
    }
    
</script>