<link rel="stylesheet" href="/public/css/recuperar.css">
<main>
    <div class="form">
        <div class="form__header">
            <h1>Recupera tu contraseña</h1>
            <p>Introduce tu correo electrónico para buscar tu cuenta.</p>
        </div>
        <div class="form__container">
            <div class="input_Box">
                <input type="text" id="email" required>
                <span>E-mail</span>
            </div>
        </div>
        <div class="form_foot">
            <a href="/" class="btn btn-back">Volver</a>
            <input type="button" class="btn btn-enviar"  onclick="funcion__()" value="Enviar">
        </div>
    </div>
</main>

<script>
    function funcion__(){
        const register_={
        email:document.getElementById('email').value,
     }
    fetch('/api/user/forgot-psw',{
                method: 'POST',
                body:JSON.stringify(register_),
                headers:{
                    'Content-Type': 'application/json'
                }
            })
    }
    
</script>