<div class="container-fluid">

  <h1>Responsive Sidebar Menu</h1>

  <table class="table table-light table-striped table-bordered mb-3" style="max-width:100%;" id="datatable">
    <thead>
        
        <tr >
            
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Correo</th>
            <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
        </tr>
        
    </thead>
    <tbody id="data" >
        
    </tbody>
</table>
  <script>
    fetch('api/user')
    .then( response => response.json() )
    .then( data =>{
        cliente_=data;
        console.log(data);
        renderResult(cliente_);
        
    })
</script>
</div>
