<div class="container-fluid">

  <h1>Responsive Sidebar Menu</h1>

  <table class="table table-light table-striped table-bordered mb-3" style="max-width:100%;" id="datatable">
    <thead>
        
        <tr >
            
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Correo</th>
            <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
        </tr>
        
    </thead>
    <tbody id="data" >
        
    </tbody>
</table>
  <script>
    fetch('api/user')
    .then( response => response.json() )
    .then( data =>{
        usuario=data;
        console.log(data);
        renderResult(usuario);
        
    })
    const tablaList=document.querySelector('#data');
        const renderResult=(usuario)=>{
            $(usuario).ready( function () {
                $('#datatable').DataTable(
                    {
                        lengthMenu: [[1, 15, 50, 100, 200], [5, 15, 50, 100, 200],],
                        language: {
					"processing": '<div class="d-flex align-items-center"><div class="spinner-border" role="status" aria-hidden="true"></div>&nbsp;&nbsp;<strong>Procesando...</strong></div>',
					"lengthMenu": "Mostrar usuario: _MENU_",
					"zeroRecords": '<div id="default-selector" class="py-5 text-center" style="width: 100%; color: #91949E;"><i style="font-size: 80pt" class="fa-solid fa-gears mb-3"></i><br><h3><b>No se encontró coincidencia con un producto registrado</b></h3></div>',
					"emptyTable": '<div id="default-selector" class="py-5 text-center" style="width: 100%; color: #91949E;"><i style="font-size: 80pt" class="fa-solid fa-gears mb-3"></i><br><h3><b>No se encontró ningun producto registrado</b></h3></div>',
					"info": " _START_ al _END_ de _TOTAL_ registros",
					"infoEmpty": " 0 al 0 de 0 registros",
					"infoFiltered": "(filtrado de un total de _MAX_ registros)",
					"search": "Buscar: ",
					"infoThousands": ",",
					"loadingRecords": '<div class="d-flex align-items-center"><div class="spinner-border" role="status" aria-hidden="true"></div>&nbsp;&nbsp;<strong>Cargando registros, espero por favor...</strong></div>',
					"paginate": {
						"first": "Primero",
						"last": "Último",
						"next": "Siguiente",
						"previous": "Anterior"
					},
					"aria": {
						"sortAscending": ": Activar para ordenar la columna de manera ascendente",
						"sortDescending": ": Activar para ordenar la columna de manera descendente"
					},
					"buttons": {
						"copy": "Copiar",
						"colvis": "Visibilidad",
						"collection": "Colección",
						"colvisRestore": "Restaurar visibilidad",
						"copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
						"copySuccess": {
							"1": "Copiada 1 fila al portapapeles",
							"_": "Copiadas %ds fila al portapapeles"
						},
						"copyTitle": "Copiar al portapapeles",
						"csv": "CSV",
						"excel": "Excel",
						"pageLength": {
							"-1": "Mostrar todas las filas",
							"_": "Mostrar %d filas"
						},
						"pdf": "PDF",
						"print": "Imprimir",
						"renameState": "Cambiar nombre",
						"updateState": "Actualizar",
						"createState": "Crear Estado",
						"removeAllStates": "Remover Estados",
						"removeState": "Remover",
						"savedStates": "Estados Guardados",
						"stateRestore": "Estado %d"
					}
				}
                    }
                );
                });
            let listHTML="";
            
            usuario.forEach(usuario => {
                
                listHTML+=`<tr><td>${usuario.nom_usu}</td><td>${usuario.ape1_usu}</td><td>${usuario.ape2_usu}</td><td>${usuario.email_usu}</td>
                <td><center><a type="button"  data-bs-toggle="modal" data-bs-target="#modal1" onclick="detallado(${usuario.id_usu})"><i class="fa-solid fa-id-card"></i>
                    </a></td></tr>`
            });
            tablaList.innerHTML=listHTML;
            
        }
</script>
</div>
