<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" href="/public/img/pack-restaurant.svg">
	<link rel="stylesheet" href="/public/css/login.css">
	<title>Login</title>
</head>
<body>
	<div class="form">
			<div class="form__header">
				<h1>Bienvenido</h1>
				<p> Este espacio es unicamente para personal del restaurante </p>
			</div>
			<div class="form__container" id="form_login">
				<form id="form">
					<input type="text" name="email" placeholder="Email">
					<input type="password" name="pass" placeholder="Password">
					<button id="btn_login">Iniciar Sesión</button>
				</form>
			</div>
			<div class="form__footer">
				<p><a href="">¿Olvidaste tu contraseña?</a></p>
			</div>
		</div>
	</div>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/js/login.js"></script>
</body>
</html>