<main>
    <label for="" id="email"><%= email %></label>
    <label for="">Password</label>
    <input type="password" name="psw" id="psw">
    <br>
    <label for="">confirm</label>
    <input type="password" name="psw2" id="psw2">
    <button id="reset-psw" onclick="editpsw()">enviar</button>
</main>
<script>
    function editpsw(){
        const editusu={
            psw1: document.getElementById('psw').value,
            confirmpsw: document.getElementById('psw2').value,
            email:document.getElementById('email').innerHTML,
            //token: `${token}`
            
        }
        fetch('/api/user/reset-psw',{
                  method: 'PUT',
                  body:JSON.stringify(editusu),
                  headers:{
                      'Content-Type': 'application/json'
                  }
              })
    }
</script>