<link rel="stylesheet" href="/public/css/recuperar.css">
<main>
    <div class="form">
        <div class="form__header">
            <h1>Restablece tu contraseña</h1>
            <p>Introduce tu nueva contraseña para tu cuenta 
                <label for="" id="email"><%= email %></label>.</p>
        </div>
        <div class="form__container">
            <div class="input_Box separacion">
                <input type="password" name="psw" id="psw" required>
                <span>Password</span>
            </div>
            <div class="input_Box">
                <input type="password" name="psw2" id="psw2" required>
                <span>Confirmar Password</span>
            </div>
        </div>
        <div class="form_foot">
            <button id="reset-psw" class="btn btn-enviar" onclick="editpsw()">Enviar</button>
        </div>
    </div>

    <br>
</main>


<script>
    function editpsw(){
        const editusu={
            psw1: document.getElementById('psw').value,
            confirmpsw: document.getElementById('psw2').value,
            email:document.getElementById('email').innerHTML
            
        }
        fetch('/api/user/reset-psw',{
                  method: 'PUT',
                  body:JSON.stringify(editusu),
                  headers:{
                      'Content-Type': 'application/json'
                  }
              })
              .then(res=>res.json())
              .catch(error=>{
              })
              .then(response=>{
                window.location.href = "/";
              });
    }
</script>