<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/cliente.css">
</head>
<body>
    <div class="form__container" id="form_registrocliente">
        <form id="form">
            <h2>Cliente</h2>
            <input type="text" name="nombre" placeholder="Nombre">
            <button id="btn_login">Guardar</button>
            <h2>Nuevo Cliente</h2>
            <input type="text" name="dni" placeholder="Dni">
            <input type="text" name="nombre" placeholder="Nombre">
            <button id="btn_login1">Registrar </button>
        </form>
    </div>
<script>
    fetch('/api/user/clientes')
      .then( response => response.json() )
      .then( data =>{
          usuario=data;
          console.log(data);
          //renderResult(usuario);
 
      })
</script>
</body>
</html>