<link rel="stylesheet" href="/public/css/mesero-comanda.css">

<div class="conteiner-fluid p-2 " >
    <div class="row shadow" style="background-color: white;">
        <div class="col-lg-7 p-0">
            <div class="container__carta p-3">
                <h3>Carta</h3>
                <div>
                    <div class="container__carta__category">
                        <select name="category" id="selectCategory">
                            <option value="" selected disabled>Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="container__carta__products">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 p-0">
            <div class="container__order p-3">
                <div class="container__order__info">
                    <h3>Datos:</h3>
                    <div class="container__order__info_row">
                        <h4>Mesa</h4>
                        <p id="contain__mesas"></p>
                    </div>
                    <div class="container__order__info_row">
                        <h4>N° Orden</h4>
                        <p></p>
                    </div>
                    <div class="container__order__info_row">
                        <h4>Cliente</h4>
                        <p></p>
                    </div>
                    <div class="container__order__info_row">
                        <h4>Mesero</h4>
                        <p><%= nom_usu %></p>
                    </div>
                    <div class="container__order__info_row">
                        <h4>Para</h4>
                        <input type="hidden" id="modalidad">
                        <p></p>
                    </div>
                </div>
                <div class="container__order__details">
                    <h3>Orden:</h3>
                    <div class="container__order__details__info">
                        <div class="row order_head">
                            <div class="col offset-md-1">Descripcion</div>
                            <div class="col">Cantidad</div>
                            <div class="col">Importe</div>
                        </div>
                        
                    </div>  
                </div>
                <!-- <div class="container__order__total">
                    <p>
                        Total:&nbsp;
                        <strong>S/. 00.00</strong>
                    </p>
                </div> -->
                <div class="container__order__buttons">
                    <button id="btn-save">
                        <i class="fa-regular fa-floppy-disk"></i>
                        &nbsp;Guardar
                    </button>
                    <button id="btn-cancel">
                        <i class="far fa-window-close"></i>
                        &nbsp;Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/mesero/comanda.js"></script>