<link rel="stylesheet" href="/public/css/mesero-comanda.css">
<main>
    <div class="container__main">
        <div class="container__client">
            <h3>Registrar Cliente</h3>
            <div class="container__client__info">
                <div class="container__client__info_row">
                    <label for="">Dni:</label>
                    <input type="text" name="" id="input-dni">
                    <!-- <button id="btn-searchClient"> <i class="fa-solid fa-magnifying-glass-plus"></i>&nbsp;Buscar</button> -->
                </div>
                <div class="container__client__info_row">
                    <label for="">Nombre:</label>
                    <input type="text" name="" id="input-nombre">
                </div>
            </div>
            <div class="container__client__buttons">
                <button id="btn-addClient"> <i class="fa-regular fa-plus"></i>&nbsp;Agregar</button>
            </div>
        </div>
        <div class="container__order">
            <div class="container__order__info">
                <h3>Datos:</h3>
                
            </div>
            <div class="container__order__details">
                <h3>Orden:</h3>
                <div class="container__order__details__info">
                    <div class="row">
                        <div class="col-md-4">Descripcion</div>
                        <div class="col-md-4">Cantidad</div>
                        <div class="col-md-3">Importe</div>
                    </div>
                    
                </div>  
            </div>
            <div class="container__order__total">
                <p>
                    Total:&nbsp;
                    <strong id="priceTotalOrder"></strong>
                </p>
            </div>
            <div class="container__order__buttons">
                <button id="btn-save">
                    <i class="fa-regular fa-floppy-disk"></i>
                    &nbsp;PreCuenta
                </button>
                <button id="btn-cancel">
                    <i class="far fa-window-close"></i>
                    &nbsp;Cancelar
                </button>
            </div>
        </div>
    </div>
</main>
<script src="/public/js/mesero/detail-order.js"></script>