<link rel="stylesheet" href="/public/css/mesero.css" />
<main>
  <div class="contenedor-home">
    <h2>Panel de Mesas</h2>

    <div class="container-mesas">
        <div class="tablero-mesa">
            <div class="col-mesa">
                10
            </div>
            <div class="col-mesa">
                10
            </div>
            <div class="col-mesa">
                10
            </div>
            <div class="col-mesa">
                10
            </div>
            <div class="col-mesa">
                10
            </div>
        </div>
        <!-- <div class="container text-center">
          <div class="row g-2">
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-2">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</main>
