<link rel="stylesheet" href="/public/css/mesero-home.css" />
<main>
  <div class="contenedor-home">
    <h2>Panel de Inicio</h2>

    <div class="container-mesas">
      <h3 class="ms-2">Mesas</h3>

      <div class="container-pisos">
        <label for="" class="form-label">Piso:</label>
        <select class="form-select" id="select-pisos">
          <option value="1">Uno</option>
          <option value="2">Dos</option>
          <option value="3">Tres</option>
        </select>
      </div>
      <div class="tablero-mesa" id="tablero-mesa">
        <!-- <div class="col-mesa">10</div>-->
      </div>
      <div class="mesas__information d-flex justify-content-center mb-3">
        <div class="d-flex justify-content-center align-items-center me-5">
          <div
            class="casilla me-3"
            style="background-color: rgb(78, 223, 85)"
          ></div>
          Libre
        </div>
        <div class="d-flex justify-content-center align-items-center me-5">
          <div
            class="casilla me-3"
            style="background-color: rgb(234, 65, 65)"
          ></div>
          Ocupado
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div
            class="casilla me-3"
            style="background-color: rgb(186, 186, 186)"
          ></div>
          Inhabilitado
        </div>
      </div>
    </div>
    <div class="container-tableros">
      <div class="container-operaciones">
        <h4>Operaciones:</h4>
        <div
          class="col-operacion"
          style="background-color: #d9d9d9"
          id="btn-merge"
        >
          <img src="/public/img/mesa-redonda.png" alt="" srcset="" />
          <p>Unir Mesas</p>
        </div>
        <div
          class="col-operacion"
          style="background-color: #ffdb5a"
          id="btn-llevar"
        >
          <img src="/public/img/para-llevar.png" alt="" srcset="" />
          <p>Para llevar</p>
        </div>
      </div>
      <div class="container-pedidos">
        <h4>Pedidos:</h4>
        <div class="col-pedido">
          <img src="/public/img/lista-pedidos.png" alt="" srcset="" />
          <p><strong>Total:</strong></p>
          <p><%= count_orders_day %></p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="modalMergeTable"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Unir Mesas</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="container-pisos">
            <label for="" class="form-label">Piso:</label>
            <select class="form-select" id="select-pisos-modal">
              <option value="1">Uno</option>
              <option value="2">Dos</option>
              <option value="3">Tres</option>
            </select>
          </div>
          <div class="tablero-mesa-modal" id="tablero-mesa-modal"></div>
          <div class="mesas__information d-flex justify-content-start mb-3">
            <div class="d-flex justify-content-center align-items-center me-5">
              <div
                class="casilla me-3"
                style="background-color: rgb(78, 223, 85)"
              ></div>
              Libre
            </div>
            <div class="d-flex justify-content-center align-items-center me-5">
              <div
                class="casilla me-3"
                style="background-color: rgb(27, 175, 220)"
              ></div>
              Seleccionado
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="btn-save" class="btn btn-success">
          UNIR
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          CERRAR
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/mesero/home.js"></script>
<script src="/public/js/mesero/socket-home-mesero.js"></script>

