<link rel="stylesheet" href="/public/css/mesero.css" />
<main>
  <div class="contenedor-home">
    <h2>Panel de Inicio</h2>

    <div class="container-mesas">
      <h3 class="ms-2">Mesas</h3>
      <div class="tablero-mesa">
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
        <div class="col-mesa">10</div>
      </div>
    </div>
    <div class="container-tableros">
      <div class="container-operaciones">
        <h4>Operaciones:</h4>
        <div class="col-operacion" style="background-color: #D9D9D9;">
          <img src="/public/img/mesa-redonda.png" alt="" srcset="">
          <p>Unir Mesas</p>
        </div>
        <div class="col-operacion" style="background-color: #FFDB5A;">
          <img src="/public/img/para-llevar.png" alt="" srcset="">
          <p>Para llevar</p>
        </div>
      </div>
      <div class="container-pedidos">
        <h4>Pedidos</h4>
        <div class="col-pedido">
          <img src="/public/img/lista-pedidos.png" alt="" srcset="">
          <p><strong>Total:</strong></p>
          <p>10</p>
        </div>
      </div>
    </div>
  </div>
</main>
