<main>
    <h1>Hacer Pedido</h1>
    <label id="lblMesas"></label>
    <br>
    <button type="submit" id="btnSave">Enviar</button>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/mesero/socket-pedido-mesero.js"></script>