
<div>
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-6 bg-dark border">
                <p>Carta</p>
                <div class="row">
                    <div class="col-6" >
                        <select class="form-select" aria-label="Default select example" id="carta">
                        </select>
                    </div>
                </div>
                <p>Entrada</p>
                <div class="row" id="cartaProducto">
                    
                </div>
            </div>
            <div class="col-6 bg-warning text-dark">
                Datos:
                <div class="row">
                    <div class="col-2">
                        <label for="nro_mesa">Mesa: </label>
                    </div>
                    <div class="col-10">
                        <input id="nro_mesa" name="nro_mesa" type="text" class="form-control" value="1" disabled>
                    </div>
                    <div class="col-2">
                        <label for="">Nro Orden: </label>
                    </div>
                    <div class="col-10">
                        <input id="nro_orden" name="nro_orden" type="text" class="form-control" value="" disabled>
                    </div>
                    <div class="col-2">
                        <label for="">Cliente: </label>
                    </div>
                    <div class="col-10">
                        <input id="nro_cliente" name="nro_cliente" type="text" class="form-control" value="" disabled>
                    </div>
                    <div class="col-2">
                        <label for="nro_mozo">Mozo: </label>
                    </div>
                    <div class="col-10">
                        <input id="nro_mozo" name="nro_mozo" type="text" class="form-control" value="<%= nom_usu %>" disabled>
                    </div>
                    <div class="col-2">
                        <label for="">Para: </label>
                    </div>
                    <div class="col-10">
                        <input id="tipo_ped" name="tipo_ped" type="text" class="form-control" value="llevar" disabled>
                    </div>
                    <input type="hidden" id="epedido_" value="1">
                </div>
                <div id="pedidosReg">

                </div>
                <div id="pedidoCarta">
                    
                    
                </div>
                <div >
                    <label for="" id="total">0</label>
                </div>
                <div id="divButtons">
                    
                </div>
                <div id="desicion">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let desicion=1;
    var pendiente;
    let nomUsu=document.getElementById('nro_mozo').value;
    let _prePedido=[];
    let arr=window.location.search;
    let params = new URLSearchParams(arr); 
    let nroMesas=params.getAll('mesa');
    var mod;
    document.getElementById('nro_mesa').value=nroMesas;
    getUsuario(nomUsu);
    inicio_();
    getMod();
    getEpedido();
    var usuarioId;
    function inicio_(){
        if(nroMesas.length==0){
            mod='Para llevar';
            document.getElementById('tipo_ped').value=mod;
            switch(desicion){
                    case 1:
                        getCarta();
                        getbuttons(desicion);
                        break;

                }
        }
        else if(nroMesas.length!=0){
            mod='Para la mesa';
            document.getElementById('tipo_ped').value=mod;
            fetch('/api/letter/tableState')
            .then( response => response.json() )
            .then( table =>{
            prod=table;
            renderResult(table);
            })
            const renderResult=(table)=>{  
                for(let item of nroMesas){
                    for(let item2 of table){
                        if(item==item2.numero_mesa & item2.estado_emesa=='Libre'){
                            desicion=1;
                        }
                        else if(item==item2.numero_mesa & item2.estado_emesa=='Ocupado'){
                            desicion=2;
                        }
                    }
                }
                switch(desicion){
                    case 1:
                        getCarta();
                        //getpedMesa(nroMesas[0]);
                        getbuttons(desicion);
                        break;
                    case 2:
                        getpedMesa(nroMesas[0]);
                        //getnroped();
                        getbuttons(desicion);
                        break;

                }

            }
        }
    }

    function getProducto(){
        fetch('/api/producto')
        .then( response => response.json() )
        .then( usuario =>{
            prod=usuario;
            renderResult(usuario);
        })
            const renderResult=(usuario)=>{
            var slcchange = document.getElementById("carta");
            slcchange.addEventListener("change", function() {
            let listHTML="";
            let _usuario={};
            const productosList=document.querySelector('#cartaProducto'); 
                prod.filter(prod=>{
                            if(prod.id_categoria==slcchange.value)
                            {
                                _usuario=prod
                                
                            }
                        });
                
                for (let item of prod) {
                    if(_usuario.id_categoria==item.id_categoria){
                        listHTML+=`<div class="col-4 bg-red border">
                            <img src="/public/img/productos/${item.imagen_prod}" class="img-fluid" alt="" width="300" height="300">
                            <p>${item.nom_prod}</p>
                            <label for="">${item.precio_u_prod}</label>
                            <button type="button" class="btn btn-success btn-circle btn-sm" onclick="prePedido('${item.nom_prod}','${item.precio_u_prod}','${item.id_prod}')">+</button>
                            </div>`;
                    }
                    
                };
                productosList.innerHTML=listHTML;
            });
        }
        
    
    }
    function getbuttons(desicion){
        const buttonsList=document.querySelector('#divButtons'); 
        if (desicion==1){
            let listHTML=`
                    <button type="button" class="btn btn-dark btn-primary mx-2" onclick="postPedido()"><i class="fa-solid"></i> Guardar</button>
                    <a class="btn btn-dark btn-primary mx-2" href="/home" role="button"><i class="fa-solid fa-file-pen"></i> Regresar</a>`;
            buttonsList.innerHTML=listHTML;
            
        }
        else if (desicion==2){
            let listHTML=`
                <button type="button" class="btn btn-dark btn-primary mx-2" onclick=""><i class="fa-solid"></i> Precuenta</button>
                <a class="btn btn-dark btn-primary mx-2" href="/home" role="button"><i class="fa-solid fa-file-pen"></i> Regresar</a>`;
            buttonsList.innerHTML=listHTML;
            
            
        }
        
    }
    function getCarta(){
        const tablaList=document.querySelector('#carta'); 
        fetch('/api/category')
        .then( response => response.json() )
        .then( data =>{
            cat=data;
            renderResult(cat);
            
        })
        const renderResult=(cat)=>{
            let listHTML="";
                        
            cat.forEach(cat => {
                
                listHTML+=`<option selected value="${cat.id_categoria}">${cat.nom_categoria}</option>`;
            });
            tablaList.innerHTML=listHTML;
            getProducto();
        }
        
    }


    //AÑADIR PLATOS AL PEDIDO
    function prePedido(dato,precio,id_prod){
        var cant_=1;
        let _datos={id_prod,cant_};
        _prePedido.push(_datos);
        document.getElementById('pedidoCarta').innerHTML+=`<div class="row"><div class="col-4"><label for="">Descripcion</label></div><div class="col-4"><label for="">Cantidad</label></div><div class="col-4"><label for="">
            Importe</label></div><div class="col-4">
                <label for="">`+dato+`</label>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-default" onclick="btn_menos(${id_prod})">
                    <span class="glyphicon glyphicon-align-justify"><</span>
                </button>
                <label id='`+id_prod+`' value="1">1</label>
                

                <button type="button" class="btn btn-default" onclick="btn_mas(${id_prod})">
                    <span class="glyphicon glyphicon-align-justify">></span>
                </button>
            </div>
            <div class="col-4">
                <input type="hidden" value="`+precio+`" id='prec_`+id_prod+`'>
                <label id='precio_`+id_prod+`'>`+precio+`</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="">observacion</label>
            </div>
            <div class="col-10">
                <input type="text">
            </div>
        </div>
        `;
        var precio_=parseInt(document.getElementById('total').innerHTML);
        precio_=precio_+parseInt(precio);
        document.getElementById('total').innerHTML=precio_;
    }
    function btn_mas(id_prod){
        for(let item of _prePedido){
            if(item.id_prod==id_prod){
                item.cant_+=1;
            }
        }
        var total_=parseInt(document.getElementById('total').innerHTML);
        var val=parseInt(document.getElementById(id_prod).innerHTML);
        var precio=parseInt(document.getElementById('prec_'+id_prod).value);
        total_=total_-val*precio;
        val=val+1;
        
        document.getElementById('precio_'+id_prod).innerHTML=val*precio;
        document.getElementById(id_prod).innerHTML=val;
        document.getElementById('total').innerHTML=total_+val*precio;
    }
    function btn_menos(id_prod){
        for(let item of _prePedido){
            if(item.id_prod==id_prod){
                item.cant_-=1;
            }
        };
        var total_=parseInt(document.getElementById('total').innerHTML);
        var val=parseInt(document.getElementById(id_prod).innerHTML);
        var precio=parseInt(document.getElementById('prec_'+id_prod).value);
        total_=total_-val*precio;
        val=val-1;
        document.getElementById('precio_'+id_prod).innerHTML=val*precio;
        document.getElementById(id_prod).innerHTML=val;
        document.getElementById('total').innerHTML=total_+val*precio;
    }
    function getMod(){

        fetch(`/api/letter/getMod`)
        .then( response => response.json() )
        .then( data =>{
            mod_=data;
            renderResult(mod_);
            
        })
        const renderResult=(mod_)=>{
            for (let item of mod_){
                if(mod==item.nom_mod){
                    mod=item.id_mod;
                }
            }
        }
    }
    
    function getUsuario(nomUsu1){

        fetch(`/api/user/${nomUsu1}`)
        .then( response => response.json() )
        .then( data =>{
            usu=data;
            renderResult(usu);
            
        })
        const renderResult=(usu)=>{
            for (let item of usu){
                usuarioId=item.id_usu;
            }
        }
    }
    function getEpedido(){

        fetch(`/api/letter/getEpedido`)
        .then( response => response.json() )
        .then( data =>{
            ePedido_=data;
            renderResult(ePedido_);
            
        })
        const renderResult=(ePedido_)=>{
            for (let item of ePedido_){
                if(item.tipo_epedido=='Pendiente'){
                    pendiente=item.id_epedido;
                }
            }
        }
    }
    const postPedido=()=>{
        const register_={
            idUsu: usuarioId,
            idEpedido: pendiente,
            idMod: mod,
        }
        //registro del pedido
            fetch('/api/letter/register',{
                method: 'POST',
                body:JSON.stringify(register_),
                headers:{
                    'Content-Type': 'application/json'
                }
            })
        //obtencion del nro pedido recien creado
            fetch('/api/letter/lastRecord')
            .then( response => response.json() )
            .then( nroPed_ =>{
                ped_=nroPed_;
                renderPed(ped_);
            })
        const renderPed=(ped_)=>{
            let datoPed;
            for(let item of ped_){
                datoPed=item.id_ped
                localStorage.setItem("nroPed",datoPed);
                for (let item of _prePedido){
                    item['idPed']=datoPed;
                }
                //registro mesa_pedido
                
            };
            for(let item of nroMesas){
                    const mesaPed_={
                        nroPed: datoPed,
                        nroMes: item,
                    }
                    fetch('/api/letter/orderTable',{
                        method: 'POST',
                        body:JSON.stringify(mesaPed_),
                        headers:{
                            'Content-Type': 'application/json'
                        }
                    })

                };
            
            for (let item of _prePedido){
                    fetch('/api/letter/registerDetalle',{
                        method: 'POST',
                        body:JSON.stringify(item),
                        headers:{
                            'Content-Type': 'application/json'
                        }
                    })
            };
            if(mod==1){
                window.location.href = "/home";
            }
            else if(mod==2){
                location.reload();
            }
        }
        for(let item of nroMesas){
            const edit_mesa={
                id_mesa: item,
            }
            fetch('/api/letter/emesa',{
                method: 'PUT',
                 body:JSON.stringify(edit_mesa),
                 headers:{
                      'Content-Type': 'application/json'
                  }
             })           
        }
    }
    function getnroped(){
        document.getElementById('nro_orden').value=localStorage.getItem('nroPed');
    }
    function getdetallePedido(){
        let nroPedido=localStorage.getItem('nroPed');
        fetch(`/api/letter/getDetPed/${nroPedido}`)
            .then( response => response.json() )
            .then( detPed =>{
                detPed_=detPed;
                renderPed(detPed_);
            })
        const renderPed=(detPed_)=>{
            let listdetPed=document.querySelector('#pedidoCarta');
            let listHTML="";
            let sumdetPed=0;
            for (let item of detPed_){
                let precioCant=item.cantidad_det*item.precio_u_prod;
                sumdetPed=precioCant+sumdetPed;
                listHTML+=`<div class="row"><div class="col-4"><label for="">Descripcion</label></div><div class="col-4"><label for="">Cantidad</label></div><div class="col-4"><label for="">
            Importe</label></div><div class="col-4">
                <label for="">${item.nom_prod}</label>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-justify"><</span>
                </button>
                <label  value="1">${item.cantidad_det}</label>
                

                <button type="button" class="btn btn-default" >
                    <span class="glyphicon glyphicon-align-justify">></span>
                </button>
            </div>
            <div class="col-4">
                <label >`+precioCant+`</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="">observacion</label>
            </div>
            <div class="col-10">
                <input type="text">
            </div>
        </div>
        `;
            }
            document.getElementById('total').innerHTML=sumdetPed;
            listdetPed.innerHTML=listHTML;
        }
    }
    function getpedMesa(nromesa){
        fetch(`/api/letter/pedidoOcupado/${nromesa}`)
        .then( response => response.json() )
        .then( data =>{
            nromesa__=data;
            renderResult(nromesa__);
            
        })
        const renderResult=(nromesa__)=>{

            for (let item of nromesa__){
                localStorage.setItem("nroPed",item.id_ped);
                document.getElementById('nro_orden').value=localStorage.getItem('nroPed');
            }
            getdetallePedido();
        }
    }
</script>
