#container-cajero-createPago{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
    font-family: var(--font-one);
}

#container-cajero-createPago *{
    font-size: 1.2rem;
}

#container-cajero-createPago .section-pedido{
    width: 70%;
    padding: 1.5rem;
}

#container-cajero-createPago .section-resumen{
    width: 30%;
    padding: 1.5rem;
}

#container-cajero-createPago .container__order__info_row{
    display: flex;
    align-items: center;
}

#container-cajero-createPago .section-resumen{
    color: white;
    background-color: var(--first-color);
}

#container-cajero-createPago .resumen__card{
    display: flex;
    align-items: center;
    min-height: 5rem;
    margin: .25rem;
    border: .5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#container-cajero-createPago .resumen__card-alterno{
    display: flex;
    align-items: center;
    min-height: 5rem;
    margin: .25rem;
    color: black;
    background-color: white;
    border: .5px solid white;
    border-radius: 4px;
}

#container-cajero-createPago .resumen__card:hover{
    background-color: var(--first-color-select);
}

#container-cajero-createPago .resumen__card-alterno:hover{
    background-color: white;
}

#container-cajero-createPago .section-resumen i{
    font-size: 2rem;
}

#container-cajero-createPago .section-resumen img{
    width: 2.5rem;
}

@media (max-width: 992px) {
    #container-cajero-createPago .section-resumen i, #container-cajero-createPago .section-resumen img{
        display: none;
    }
}

@media (max-width: 768px) {
    #container-cajero-createPago{
        display: block !important;
    }

    #container-cajero-createPago .section-mesas{
        width: 100%;
    }
    
    #container-cajero-createPago .section-resumen{
        width: 100%;
    }

    #container-cajero-createPago *{
        font-size: 1rem;
    }

    #container-cajero-createPago .section-resumen i, #container-cajero-createPago .section-resumen img{
        display: block;
    }
}