#container-cajero-home{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
    font-family: var(--font-one);
}

#container-cajero-home .section-mesas{
    width: 70%;
    padding: 1.5rem;
}

#container-cajero-home .section-operaciones{
    width: 30%;
    padding: 1.5rem;
}

#container-cajero-home .mesas__filter select, 
#container-cajero-home .mesas__filter option{
    width: 18rem;
    height: 2rem;
    background-color: white;
    border: none;
    border-bottom: 1px solid white;
}

#container-cajero-home .mesas__filter option:hover{
	background-color: var(--first-color);
}

#container-cajero-home .mesas__panel{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#container-cajero-home .col-mesa{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 9.5rem;
    margin: .5rem;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

#container-cajero-home .col-mesa *{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

#container-cajero-home .mesa-disponible{
    background-color: rgb(78, 223, 85);
}

#container-cajero-home .mesa-ocupada{
    background-color: rgb(234, 65, 65);
}

#container-cajero-home .mesa-pendiente{
    background-color: rgb(40, 149, 239);
}

#container-cajero-home .mesa-preparada{
    background-color: rgb(50, 54, 240);
}

#container-cajero-home .mesa-precuenta{
    background-color: rgb(120, 40, 190);
}

#container-cajero-home .mesa-inhabilitada{
    background-color: rgb(186, 186, 186);
}

#container-cajero-home .num-mesa{
    font-size: 2rem;
    line-height: 140px;
    text-align: center;
}

#container-cajero-home .mesas__information{
    flex-wrap: wrap;
}

#container-cajero-home .section-operaciones{
    color: white;
    background-color: var(--first-color);
}

#container-cajero-home .operaciones__card{
    display: flex;
    align-items: center;
    min-height: 5rem;
    margin: .25rem;
    border: .5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#container-cajero-home .operaciones__card-alterno{
    display: flex;
    align-items: center;
    min-height: 5rem;
    margin: .25rem;
    color: black;
    background-color: white;
    border: .5px solid white;
    border-radius: 4px;
}

#container-cajero-home .operaciones__card:hover{
    background-color: var(--first-color-select);
}

#container-cajero-home .operaciones__card-alterno:hover{
    background-color: white;
}

#container-cajero-home .section-operaciones i{
    font-size: 2rem;
}

#container-cajero-home .section-operaciones img{
    width: 2.5rem;
}

#container-cajero-home .btn, #container-cajero-home .btn-primary{
    min-height: 2.5rem;
    color: white;
    background-color: var(--first-color);
    border: .5px solid white;
}

#container-cajero-home .card-body *{
    color: black;
    background-color: white !important;
}

#container-cajero-home .card-body *::selection{
    color: black;
    background-color: white !important; 
}

#container-cajero-home .casilla{
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--first-color);
    border-radius: 4px;
}

@media (max-width: 1200px) {
    #container-cajero-home .col-mesa{
        width: 8.5rem;
        height: 8.5rem;
    }
}

@media (max-width: 992px) {
    #container-cajero-home .col-mesa{
        width: 7.5rem;
        height: 7.5rem;
    }

    #container-cajero-home .mesas__filter select, 
    #container-cajero-home .mesas__filter option{
        width: 13.5rem;
    }
}

@media (max-width: 768px) {
    #container-cajero-home{
        display: block !important;
    }

    #container-cajero-home .section-mesas{
        width: 100%;
    }
    
    #container-cajero-home .section-operaciones{
        width: 100%;
    }

    #container-cajero-home .col-mesa{
        width: 6.5rem;
        height: 6.5rem;
    }

    #container-cajero-home .mesas__filter select, 
    #container-cajero-home .mesas__filter option{
        width: 9rem;
    }
}