main{
    min-height: calc(100vh - 8.5rem);
}
    
#form{
    margin-top: 5rem;
    padding: 1rem;
    background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
}