@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3.5rem;
  --nav-width: 3.5rem;
  --font-one: 'Abel', sans-serif;
}

/*===== BASE =====*/
body{
  position: relative;
  margin-top: calc(var(--header-height) + 1rem);
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--normal-font-size);
  transition: .5s;
}

main{
  font-family: var(--body-font);
}

a{
  text-decoration: none;
}

/*===== ESTILOS HEADER =====*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__start, .header__end{
  display: flex;
}

.header__toggle{
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--first-color);
  font-size: 1.5rem;
}

.header__list{
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.header__card{
  margin-top: 1rem;
}

.header__card-content{
  display: flex;
  align-items: center;
}

.header__icon{
  color: var(--first-color);
  font-size: 1.25rem;
  text-align: center;
}

.header__card .header__icon{
  font-size: 1rem;
}

.header__card-img img{
  display: block;
  height: 24px;
  margin-right: .5rem;
}

.header__card-text p{
  margin-right: .5rem;
  font-size: small;
}

/*===== ESTILOS NAVEGACION =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  padding: 1rem .5rem;
  background: var(--first-color);
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.nav *{
  color: var(--first-color-text);
}

.nav__logo, .nav__link{
  display: grid;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__link{
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 2px solid var(--first-color-text);
  border-radius: 4px;
  font-family: var(--font-one);
  font-size: 15px;
  font-weight: 100;
  transition: .3s;
}

.nav__link:hover{
  background-color: var(--first-color-select);
}

.nav__logo-icon, .nav__icon{
  margin-bottom: .5rem;
}

.nav__logo-icon{
  font-size: 4rem;
  text-align: center;
}

.nav__icon{
  font-size: 2rem;
  text-align: center;
}

.nav__logo-name{
  font-family: var(--font-one);
  font-size: large; /*font-size: 24px;*/
  font-weight: 700;
  text-align: center;
}

.nav__name{
  text-align: center;
}

.nav__list .active{
  background-color: var(--first-color-select);
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
  padding-right: 1rem;
}

.show{
  left: 0;
}

.nav__out{
  margin-bottom: 0;
}

/*===== ESTILOS RESPONSIVE NAVEGACON =====*/
.responsive .nav__list .active{
  background-color: var(--first-color);
}

.responsive .nav__logo, .responsive .nav__link{
  padding: 0;
}

.responsive .nav__link{
  margin-left: 0;
  margin-right: 0;
  border: none;
}

.responsive .nav__link:hover{
  background-color: var(--first-color);
}

.responsive .nav__logo-icon, .responsive .nav__icon{
  margin-bottom: 1rem;
}

.responsive .nav__logo-icon, .responsive .nav__icon{
  font-size: 1.25rem;
}

.responsive .nav__logo-name, .responsive .nav__name{
  display: none;
}

/*===== ESTILOS RESPONSIVE =====*/
@media screen and (min-width:768px){
  body{
    padding-left: calc(var(--nav-width) + 2rem);
    padding-right: 2rem;
  }

  .header{
    padding-left: calc(var(--nav-width) + 2rem);
    padding-right: 2rem;
  }

  .l-navbar{
    left: 0;
  }

  .body-pd{
    padding-left: calc(var(--nav-width) + 184px); /* 152px + 2rem (32px) */
    padding-right: 2rem;
  }

  .header__card-text p{
    font-size: 1rem;
  }

  .show{
    width: calc(var(--nav-width) + 152px);
  }
}

@media screen and (max-width:768px){
  .nav__list .active{
    background-color: var(--first-color);
  }
  
  .nav__logo, .nav__link{
    padding: 0;
  }

  .nav__link{
    margin-left: 0rem;
    margin-right: 0rem;
    border: none;
  }

  .nav__link:hover{
    background-color: var(--first-color);
  }
  
  .nav__logo-icon, .nav__icon{
    margin-bottom: 1rem;
  }
  
  .nav__logo-icon, .nav__icon{
    font-size: 1.25rem;
  }
  
  .nav__logo-name, .nav__name{
    display: none;
  }
}

@media screen and (max-width:576px){

}