.contenedor{
    width: 97%!important;
    margin: auto;
    background: white;
}
.etiqueta{
    position: relative;
    margin-bottom: 20px!important;
    padding-bottom: 5px;
}
.panel_principal{
    padding: 16px;
}
.panel_resumen{
    background: #181E24;

}
.panel__title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-bottom: solid 1px #8d8d8d;
    background: #181E24;
    color: white;
}

.panel__selection{
    padding: 5px 20px;
    display: flex;
    justify-content: start;
}

.panel__option{
    width: 145px;
    height: 120px;
    border: solid 0.5px #aaaaaa;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel__option:hover{
    background: #f3f3f3;
}
.panel__option-end{
    margin-right: 33.3%;
}

.panel__option-img{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.panel__option-name{
    display: block;
    margin-top: .5rem;
    color: var(--first-color);
    text-align: center;
}

.resumen__card{
    margin: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 2px;
    border:solid .5px white;
}

.resumen__card-img{
    margin-right: .5rem;
    margin-left: .5rem;
    text-align: center;
    width: 80px;
    font-size: 1.5rem;
}

.resumen__card-body{
    width: 70%;
}

.panel__option {
    transition: all;
}
.panel__option:hover {
    transform: scale(1.025);
}
@media screen and (max-width:768px){

}
@media screen and (max-width:580px){
    .panel__option{
        width: 45%;
    }

    .panel__option-end{
        margin-right: 50%;
    }

    .section-panel *, .section-resumen *{
        font-size: small;
    }
}
@media screen and (max-width:380px){
    .panel__option{
        width: 100% !important;
    }

}