.contenedor-home{
    background-color: #fff;
    padding: 15px;
    font-family: var(--font-one);
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container-pisos{
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.form-label{
    display: inherit;
    width: 15%;
    padding: 5px 5px 5px 10px;
    margin-right: 5px;
}
.form-select{
    display: inherit;
    width: 50%;
    margin-left: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(171, 171, 171);;
}
.contenedor-home h2{
    padding: 15px 8px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.container-mesas{
    display: inline-block;
    width: 55%;
    margin-right: 10px;
    margin-top: 5px;
    padding: 8px;
    /* background-color: antiquewhite; */
    /* border-right: solid 1px #000; */
}

.tablero-mesa,.tablero-mesa-modal{
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 2px;
    border: 2px solid rgb(160, 160, 160); */
}

.col-mesa{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    /* background-color: rgb(106, 252, 114); */
    margin: 8px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.mesa-disponible{
    background-color: rgb(78, 223, 85);
}

.mesa-ocupada{
    background-color: rgb(234, 65, 65);
}

.mesa-inhabilitada{
    background-color: rgb(186, 186, 186);
}

.mesas__information{
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-wrap: wrap;
}
.mesas__information .casilla{
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--first-color);
    border-radius: 4px;
}
.selected{
    background-color: rgb(27, 175, 220);
}
.container-tableros{
    /* background-color: aquamarine; */
    display: inline-block;
    width: 35%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.container-tableros .container-operaciones{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container-tableros .container-operaciones h4{
    width: 100%;
    margin-bottom: 5px;
}


.col-operacion{
    width: 30%;
    padding: 8px 5px;
    margin: 8px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.col-operacion img{
    width: 40px;
    height: 40px;
}
.col-operacion p{
    margin-top: 5px;
}
.container-mesas .tablero-mesa{
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
}

.container-pedidos{
    margin-top: 8px;
}
.col-pedido{
    width: 70%;
    margin-top: 8px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    border: 2px solid rgb(171, 171, 171);
    /* background-color: bisque; */
}
/*dfsdfsdf */
.col-pedido img{
    width: 40px;
    height: 50px;
    margin-right: 8px;
}

.col-pedido p{
    margin-left: 8px;
}

@media (max-width: 500px) {
    .container-mesas{
        width: 90%;
    }
    .col-mesa {
        width: 40%;
    }
}
@media (min-width:501px) and (max-width: 750px) {
    .container-mesas{
        width: 70%;
    }
    .col-mesa {
        width: 25%;
    }

    .container-tableros{
        width: 25%;
    }

    .col-operacion{
        width: 80%;
    }
}
@media (min-width:751px) and (max-width: 900px) {
    .col-mesa {
        width: 30%;
        margin: 5px;
    }
}
