.box-mesas,.box-operaciones,.box-pedidos{
    background-color: #fff;
    border-radius: 5px;
}
.box-mesas{
    margin-right:5px!important;
}
.box-operaciones{
    margin-bottom: 5px;
} 
h3{
    font-family: var(--font-one);
    font-weight: 900;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
h3:before{
    content: "";
    border-bottom: solid 1px #2E4052;
    position:absolute;
    bottom:0;
  }
.sub-1:before{
    width: 180px;
}
.sub-2:before{
    width: 160px;
}
.sub-3:before{
    width: 110px;
}
.container-pisos{
    font-family: var(--font-one);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.form-label{
    display: inherit;
    margin-right: 5px;
    padding-top: 6px;
}
.form-select{
    display: inherit;
    width: 50%;
    margin-left: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(171, 171, 171);;
    cursor: pointer;
}
.form-select:hover{
    font-weight: 600;
	border-color:#181e248e!important;
}
.form-select:focus{
	border-color:#181e248e!important;
	box-shadow: none!important;
}
.contenedor-home h2{
    padding: 15px 8px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.container-mesas{
    display: inline-block;
    width: 60%;
    margin-right: 10px;
    margin-top: 5px;
    padding: 8px;
    /* background-color: antiquewhite; */
    /* border-right: solid 1px #000; */
}

.tablero-mesa,.tablero-mesa-modal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 35px;
    margin-top: 28px;
}

.col-mesa{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 115px;
    /* background-color: rgb(106, 252, 114); */
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.mesa-disponible{
    background-color: rgb(78, 223, 85);
}

.mesa-ocupada{
    background-color: rgb(234, 65, 65);

}

.mesa-ocupada a{
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mesa-inhabilitada{
    background-color: rgb(186, 186, 186);
}

.mesas__information{
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-wrap: wrap;
    font-family: var(--font-one);
}
.mesas__information .casilla{
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--first-color);
    border-radius: 4px;
}
.selected{
    background-color: rgb(27, 175, 220);
}

.col-operacion{
    width: 80px;
    height: 110px;
    padding: 8px 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-family: var(--font-one);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #2e405256;
    border-radius: 5px;
}

.col-operacion img{
    width: 40px;
    height: 40px;
    transition: all;
}

.col-operacion:hover>img{
    transform: scale(1.08);
    transition: .5s;
}
.color-1{
    background-color: #d9d9d9;
}
.color-2{
    background-color: #ffdb5a
}
.color-1:hover{
    background-color: #dbdbdb;
}
.color-2:hover{
    background-color: #ffd53d;
}
.col-operacion p{
    margin-top: 5px;
}
.container-mesas .tablero-mesa{
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-pedido{
    display: flex;
    margin-top: 8px;
    padding: 10px 15px;
    /* background-color: bisque; */
    border: solid 1px #9bb6d1;
    border-radius: 5px;
}
.col-pedido>div{
    border-left: solid 1px #9bb6d1;
}
/*dfsdfsdf */
.col-pedido img{
    width: 40px;
    height: 50px;
    margin-right: 8px;
}

.col-pedido p{
    margin-left: 8px;
}

.container-pedidos .btn .caret{
	width: 0;
	height: 0;
	border-left: .4rem solid transparent;
	border-right: .4rem solid transparent;
	border-top: .4rem solid white;
}
.btn-list{
    background-color: #2E4052;
    color: white;
}
.btn-list:hover{
    background-color: #243b52;
    color: white;
}
a{
    font-family: var(--font-one)!important;
}
.collapse a:hover{
    font-weight: 600!important;
}
@media screen and (max-width:1024px){
    .tablero-mesa,.tablero-mesa-modal{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 500px) {
    .container-mesas{
        width: 90%;
    }
    .tablero-mesa,.tablero-mesa-modal{
        grid-template-columns: repeat(3, 1fr)!important;
    }
    .col-mesa{
        height: 80px;
    }
}
@media (min-width:501px) and (max-width: 750px) {
    .container-mesas{
        width: 70%;
    }

    .container-tableros{
        width: 25%;
    }
}
@media screen and (max-width:768px){
    .box-mesas,.box-operaciones,.box-pedidos{
        margin-bottom: 15px;
    }
    .box-mesas{
        margin-right: 0!important;
    }
}
