.contenedor-home{
    background-color: #fff;
    padding: 15px;
    font-family: var(--font-one);
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-home h2{
    padding: 15px 8px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.container-mesas{
    display: inline-block;
    width: 55%;
    margin-right: 10px;
    margin-top: 5px;
    padding: 8px;
    /* background-color: antiquewhite; */
    /* border-right: solid 1px #000; */
}

.col-mesa{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(106, 252, 114);
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
}

.container-tableros{
    background-color: aquamarine;
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.container-tableros .container-operaciones h4{
    width: 100%;
    margin-bottom: 5px;
}

.container-tableros .container-operaciones{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-operacion{
    width: 30%;
    padding: 8px 5px;
    margin: 5px;
    text-align: center;
    border-radius: 2px;
}

.col-operacion img{
    width: 40px;
    height: 40px;
}
.col-operacion p{
    margin-top: 5px;
}
.container-mesas .tablero-mesa{
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
}

.col-pedido{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}

.col-pedido img{
    width: 40px;
    height: 50px;
    margin-right: 8px;
}

.col-pedido p{
    margin-left: 8px;
}

@media (max-width: 500px) {
    .container-mesas{
        width: 65%;
    }
    .col-mesa {
        width: 40%;
    }
}
@media (min-width:501px) and (max-width: 750px) {
    .col-mesa {
        width: 25%;
    }
}
@media (min-width:751px) and (max-width: 900px) {
    .col-mesa {
        width: 30%;
        margin: 5px;
    }
}
