/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*===== DEFAULT =====*/
:root{	
	/*===== Font and typography =====*/
	--body-font: 'Nunito', sans-serif;
	--font-one: 'Abel', sans-serif;
	--normal-font-size: 1rem;
	  
	/*===== z index =====*/
	--z-fixed: 100;
}

body *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
    min-height: calc(100vh - 8.5rem);
}

/*===== COMPONENT DEFINED AS BOTON =====*/
.boton{
	padding: .25rem;
	color: var(--second-color-text);
	background-color: var(--second-color);
	border: 1px solid var(--second-color);
	border-radius: 4px;
	cursor: pointer;
}

.boton:hover{
	color: var(--second-color-text);
	background-color: var(--second-color-select);
	border-radius: 4px;
}

.boton-first{
	padding: .25rem;
	color: var(--first-color-text);
	background-color: var(--first-color);
	border: 1px solid var(--first-color);
	border-radius: 4px;
	cursor: pointer;
}

.boton-first:hover{
	color: var(--first-color-text);
	background-color: var(--first-color-select);
	border-radius: 4px;
}

.boton-second{
	padding: .25rem;
	color: var(--second-color-text);
	background-color: var(--second-color);
	border: 1px solid var(--second-color);
	border-radius: 4px;
	cursor: pointer;
}

.boton-second:hover{
	color: var(--second-color-text);
	background-color: var(--second-color-select);
	border-radius: 4px;
}

/*===== COMPONENT DEFINED AS DESPLEGABLE =====*/
/*
.desplegable{
	position: relative;
}

.desplegable-toggle{
	cursor: pointer;
}

.desplegable .caret{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid var(--color-oscuro);
	transition: .3s;
}

.desplegable .caret-rotate{
	transform: rotate(-180deg);
}

 .desplegable-menu{
	position: absolute;
	top: 3rem;
	right: 0;
	display: none;
	width: max-content;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
	list-style: none;
	opacity: 0;
	translate: .3s;
	z-index: 1;
}

.desplegable-menu li{
	cursor: pointer;
	padding: .5rem 1rem;
}

.desplegable-menu li *{
	color: var(--color-oscuro);
}

.desplegable-menu li:hover{
	background-color: var(--white-color);
}

.desplegable .menu-open{
	display: block;
	opacity: 1;
} */
.breadcrumb-item a{
	color: #181E24;
}
.container-fluid{
	background-color: white;
}

.link_nav{
	font-size: 12px;
}
.link_nav ol{
	margin: 0;
}

.title_registro{
	color: #181E24;
	padding: 8px 15px;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 25px!important;
	border-bottom: #181E24 3px solid;
}
.btn-add{
	border: solid 1px #181E24;
	border-radius: 5px;
	color: #181E24;
	padding: 5px 15px;
	font-size: 14px;
	background-color: white!important;
}
.btn-add:hover{
	background-color: #181E24!important;
	color: white;
}
.dataTables_filter input[type="search"]{
	border: none!important;
	border-bottom: solid 1px #a0a0a0!important;
	margin-bottom: 25px!important;
}
.dataTables_filter input[type="search"]:focus{
	border:none!important;
	border-bottom: solid 1px #181e248e!important;
}
.table thead{
	background-color: #181E24!important;
	color: white;
}
.dataTables_wrapper tbody{
	font-family: var(--body-font);
}
.style_form label{
	font-size: 14px;
}
.style_form input{
	margin-bottom: 5px;
}
.style_form input:focus,.style_form select:focus{
	border-color:#181e248e!important;
	box-shadow: none!important;
}
.btn-info{
	border: none;
}
.box-filtro{
	padding: 15px;
	border: solid 1px rgba(0, 0, 0, .1);
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 12px;
	width: 98%;
}
.box-filtro h5{
	margin-bottom: 5px;
}