<link rel="stylesheet" href="/public/css/home-cocinero.css">
<div class="conteiner-fluid  p-2">
    <div class="row">
        <div class="col-md-8 p-0">
            <div class="shadow p-3 box-pedido">
                <h4>Pedidos</h4>
                <div class="box-orden">
                    <h6>N° Orden: 02</h6>
                    <div class="d-flex justify-content">
                        <p>Mesa: 15</p>
                        <p>Mozo: Javier</p>
                    </div>
                    <div class="">
                        <p>Orden:</p>
                        <ul>
                            <li>Causa Rellena</li>
                            <li>Causa Rellena</li>
                        </ul>
                    </div>
                    <div class="box-btn">
                        <button class="btn btn-cancelar">Cancelar</button>
                        <button class="btn btn-realizar">Realizado</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="col-md-12 shadow p-3 box-resumen">
                <h4>Resumen</h4>
                <div class="box-info">
                    <div class="d-flex justify-content-between">
                        <p>En preparación:</p>
                        <p>10</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Realizados:</p>
                        <p>10</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 shadow p-3">
                <h4>Realizados</h4>
            </div>
        </div>
    </div>
</div>