<link rel="stylesheet" href="/public/css/cajero-realizarPago.css"/>

<main>
    <div id="container-cajero-createPago" class="d-flex justify-content-between">
        <div class="section-pedido">
            <p class="fw-bold fs-4 mb-3">Cuenta</p>
            <div class="container__order__info">
            </div>
            <div class="container__order__details mt-3">
                <!-- <h4>Orden:</h4> -->
                <div class="container__order__details__info">
                    <div class="row">
                        <div class="col-6 subtitle">Descripción</div>
                        <div class="col-3 subtitle">Cantidad</div>
                        <div class="col-3 subtitle">Importe</div>
                    </div>
                </div>
            </div>
            <div class="container__order__total mb-3">
                <p>
                    Total:&nbsp;
                    <strong id="priceTotalOrder"></strong>
                </p>
            </div>
            <div id="container__pay-method" class="mb-3">
                <p>Por favor seleccione el medio de pago asignado:</p>
                <input type="radio" id="efectivo" name="medioPago" value="1">
                <label for="efectivo">Efectivo</label><br>
                <input type="radio" id="tarjeta" name="medioPago" value="2">
                <label for="tarjeta">Tarjeta</label><br>
            </div>
            <div class="container__order__buttons d-flex justify-content-center">
                <button id="btn-pago" class="boton-second" style="min-width: 8rem;">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    &nbsp;Pagar
                </button>
                <button id="btn-cancel" class="boton-first ms-3" style="min-width: 8rem;">
                    <i class="far fa-window-close"></i>
                    &nbsp;Cancelar
                </button>
            </div>
        </div>
        <div class="section-resumen">
            <p class="fw-bold fs-4 mb-3">Resumen</p>
            <div class="resumen__card-alterno mb-3">
                <div class="d-flex justify-content-center" style="width: 30%"><i class="fa-solid fa-money-bill resumen__card-img"></i></div>
                <div class="resumen__card-body" style="width: 70%">
                    <p class="resumen__card-title">Total efectivo</p>
                    <p class="resumen__card-text fw-bold">S/. <%= totalPay %></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/public/js/cajero/realizarPago.js"></script>

<!-- <div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-8 p-0">
            <div id="pedido" class="shadow p-3 box-pedido">
                <h3>Cuenta</h3>
                <div class="container__order">
                    <div class="container__order__info">
                        <h3>Datos:</h3>
                    </div>
                    <div class="container__order__details">
                        <h3>Orden:</h3>
                        <div class="container__order__details__info">
                            <div class="row">
                            <div class="col-md-4">Descripcion</div>
                            <div class="col-md-4">Cantidad</div>
                            <div class="col-md-3">Importe</div>
                            </div>
                        </div>
                    </div>
                    <div class="container__order__total">
                        <p>
                            Total:&nbsp;
                            <strong id="priceTotalOrder"></strong>
                        </p>
                    </div>

                    <div id="container__pay-method">
                        <p>Por favor seleccione el medio de pago asignado:</p>
                        <input type="radio" id="efectivo" name="medioPago" value="1">
                        <label for="efectivo">Efectivo</label><br>
                        <input type="radio" id="tarjeta" name="medioPago" value="2">
                        <label for="tarjeta">Tarjeta</label><br>
                    </div>

                    <div class="container__order__buttons">
                        <button id="btn-pago">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                        &nbsp;Pagar
                        </button>
                        <button id="btn-cancel">
                            <i class="far fa-window-close"></i>
                            &nbsp;Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->