<div id="contenido">
    <div id="formUser" class="shadow p-3 mb-5 bg-body rounded">
          
    <nav aria-label="breadcrumb" class="link_nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
      </nav>
      <h2 class="mb-2 title_registro "><i class="fa-solid fa-address-card"></i> REPORTES</h2>
      <div class="col" style="height: 100%;">
        </div>   
        <div class="table-responsive">
        <table class="table table-striped table-bordered mb-3 pt-2" style="max-width:100%;" id="datatable">
            <thead>
                </a>
                <tr >
                    <th scope="col">Nro pago</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">fecha</th>
                    <th scope="col" class="text-center"><i class="fa-solid fa-gears"></i></th>
                      
                </tr>
                  
            </thead>
            <tbody id="data" >
            </tbody>
              
        </table>
    </div>
    <!--Modal-->
    <div class="modal fade" id="modalUser"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" >
                <table class="table table-striped table-bordered mb-3 pt-2" style="max-width:100%;" id="datatable">
                    <div>
                        <center><h2>Boleta</h2></center>
                        <label for="">Nro boleta: </label><label for="" id="nroBoletaM">1</label><br>
                        <label for="">Cliente: </label><label for="" id="clienteM">1</label><br>
                        <label for="">Fecha: </label><label for="" id="fechaM">1</label><br>
                    </div>
                    <thead>
                        </a>
                        <tr style="background-color: #0d94b4;">
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">precio_u_prod</th>
                            <th scope="col">Total</th>
                        </tr>
                          
                    </thead>
                    <tbody id="dataOne">
                    </tbody>
                    
                </table>
                <div class="row border-1 m-1 mb-3 pt-2"  style="max-width:100%; background-color: #0d94b4; color:white;">
                    <div class="col-9 text-end">Sub Total: </div>
                    <div class="col-3  text-end" id="sut_tot"></div>
                </div>
                <div class="row border-1 m-1 mb-3 pt-2"  style="max-width:100%; background-color: #0d94b4;color:white;">
                    <div class="col-9 text-end">IGV: </div>
                    <div class="col-3  text-end" id="igv_"></div>
                </div>
                <div class="row border-1 m-1 mb-3 pt-2"  style="max-width:100%; background-color: #0d94b4;color:white;">
                    <div class="col-9 text-end">Total: </div>
                    <div class="col-3  text-end" id="tot_"></div>
                </div>
            </div>
              <div class="modal-footer">
                <a type="button" class='btn btn-warning me-3' href='#' id="imprimir_ped">Generar Reporte</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </div>
        </div>
    </div>
          <!--termina modal-->
    </div>
</div>  
<script>
    getReportes();
    function detallado(id){
        fetch(`api/order/reportOne/${id}`)
        .then( response => response.json() )
        .then( data =>{
          report=data;
          console.log(data);
          renderResult(report);
      })
      const renderResult=(report)=>{
        const tablaList=document.querySelector('#dataOne');
        var sum__=0;
        document.getElementById('clienteM').innerHTML=report[0].nom_cli;
        document.getElementById('nroBoletaM').innerHTML='2023-'+(report[0].id_ped).toString().padStart(5,0);
        document.getElementById('fechaM').innerHTML=report[0].fecha_pago;
        document.getElementById('imprimir_ped').href=`/api/order/report/${id}`;
        let listHTML="";
              
              report.forEach(report => {
                sum__=sum__+report.precio_u_prod*report.cantidad_det;
                  listHTML+=`<tr><td>${report.nom_prod}</td><td>${report.cantidad_det}</td><td> ${report.precio_u_prod}</td><td> ${report.precio_u_prod*report.cantidad_det}</td>
                    </tr>`;
              });
              tablaList.innerHTML=listHTML;
              document.getElementById('sut_tot').innerHTML='S/.'+(sum__-sum__*0.08);
              document.getElementById('igv_').innerHTML='S/.'+sum__*0.08;
              document.getElementById('tot_').innerHTML='S/.'+sum__;
      }
    }
    function getReportes(){
        fetch('api/order/reportAll')
      .then( response => response.json() )
      .then( data =>{
          report=data;
          console.log(data);
          renderResult(report);
      })
      const tablaList=document.querySelector('#data');
          const renderResult=(report)=>{
              $(report).ready( function () {
                  $('#datatable').DataTable(
                      {
                          lengthMenu: [[5, 15, 50, 100, 200], [5, 15, 50, 100, 200],],
                          language: {
                      "processing": '<div class="d-flex align-items-center"><div class="spinner-border" role="status" aria-hidden="true"></div>&nbsp;&nbsp;<strong>Procesando...</strong></div>',
                      "lengthMenu": "",
                      "zeroRecords": '<div id="default-selector" class="py-5 text-center" style="width: 100%; color: #91949E;"><i style="font-size: 80pt" class="fa-solid fa-gears mb-3"></i><br><h3><b>No se encontró coincidencia con un producto registrado</b></h3></div>',
                      "emptyTable": '<div id="default-selector" class="py-5 text-center" style="width: 100%; color: #91949E;"><i style="font-size: 80pt" class="fa-solid fa-gears mb-3"></i><br><h3><b>No se encontró ningun producto registrado</b></h3></div>',
                      "info": " _START_ al _END_ de _TOTAL_ registros",
                      "infoEmpty": " 0 al 0 de 0 registros",
                      "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                      "search": "Buscar: ",
                      "infoThousands": ",",
                      "datatable_filter:":"<br>",
                      "loadingRecords": '<div class="d-flex align-items-center"><div class="spinner-border" role="status" aria-hidden="true"></div>&nbsp;&nbsp;<strong>Cargando registros, espero por favor...</strong></div>',
                      "paginate": {
                          "first": "Primero",
                          "last": "Último",
                          "next": " siguiente",
                          "previous": " atras"
                      },
                      "aria": {
                          "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                          "sortDescending": ": Activar para ordenar la columna de manera descendente"
                      },
                      "buttons": {
                          "copy": "Copiar",
                          "colvis": "Visibilidad",
                          "collection": "Colección",
                          "colvisRestore": "Restaurar visibilidad",
                          "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                          "copySuccess": {
                              "1": "Copiada 1 fila al portapapeles",
                              "_": "Copiadas %ds fila al portapapeles"
                          },
                          "copyTitle": "Copiar al portapapeles",
                          "csv": "CSV",
                          "excel": "Excel",
                          "pageLength": {
                              "-1": "Mostrar todas las filas",
                              "_": "Mostrar %d filas"
                          },
                          "pdf": "PDF",
                          "print": "Imprimir",
                          "renameState": "Cambiar nombre",
                          "updateState": "Actualizar",
                          "createState": "Crear Estado",
                          "removeAllStates": "Remover Estados",
                          "removeState": "Remover",
                          "savedStates": "Estados Guardados",
                          "stateRestore": "Estado %d"
                      }
                  }
                      }
                  );
                  });
              let listHTML="";
              
              report.forEach(report => {
                  
                  listHTML+=`<tr><td>${report.id_pago}</td><td>${report.nom_cli}</td><td> ${report.fecha_pago}</td>
                            <td data-bs-toggle="modal" data-bs-target="#modalUser" onclick="detallado(${report.id_pago})"> <center><i class="fa-sharp fa-solid fa-file-pdf"></i></center>
                  </td></tr>`;
              });
              tablaList.innerHTML=listHTML;
              
          }
    }

</script>
